
#MessageContainer {
  border-style: solid;
  border-width: medium;
  padding: 0px 10px;
}

.messageCls {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 5px;

  padding: 10px;

  font-weight: normal;
  font-size: 14px;
  font-family: sans-serif;

  display:table;
}
