
#MessageContainer {
  border-style: solid;
  border-width: medium;
  padding: 25px 10px;
}

.messageCls {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 5px;

  padding: 10px;
}
